.place__paragraph {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 163%;
    margin-block-start: 0;
    color: white;
    margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

