.cover__title{
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    font-weight: 900;
    font-size: 72px;
    font-style: normal;
    line-height: 106%;
    text-align: center;
    max-width: 560px;
    align-self: center;
}



@media (max-width: 425px){
    .cover__title{
        font-size: 32px;
        line-height: 109%;
        max-width: 288px;
    }
    
}