.lead__image{
    max-width: 928px;
    max-height: 580px;
    object-fit: contain;
}


@media (min-width: 1280px){
    .lead__image{
        max-width: 984px;
        max-height: 615px;
    }
}



@media (max-width: 1023px){
    .lead__image{
        max-width: 100vw;
    }
}


@media (max-width: 768px){
    .lead__image{
        max-height: 480px;
    }
}



@media (max-width: 425px){
    .lead__image{
        max-width: 100vw;
        max-height: 300px;
    }
}


@media (max-width: 320px){
    .lead__image{
        max-height: 200px;
    }
}