.place__title-container{
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
}

@media (max-width: 320px){
    .place__title-container{
        margin-left: 16px;
    }
}