.cover{
    background-image: url('../../images/cover-trains.jpg');
    max-width: 1024px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 1;
    text-decoration: none;
    position: relative;
    background-size: cover;
    

}

@media (min-width: 1280px){
    .cover{
        max-width: 1184px;
        min-height: 740px;
    }
}




@media (max-width: 768px){
    .cover{
        max-width: 768px;
        min-height: 480px;
    }
    

}


@media (max-width: 320px){
    .cover{
        max-width: 320px;
        min-height: 200px;
    }
    
}

