.root__intro{
    margin-left: 48px;
}


@media (max-width: 768px){
    .root__intro{
        margin-left: 24px;
    }
    

}


@media (max-width: 320px){
    .root__intro{
        margin-left: 16px;
    }
    
}

@media (min-width: 1280px){
    .root__intro{
        margin-left: 148px;
    }
}
