.root__intro {
    margin-left: 48px;
}

@media (min-width: 1280px) {
    .root__intro {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .root__intro {
        margin-left: 24px;
    }
}

